.login {
  position: relative;
  padding: 100px 0;
  height: 100vh;
  &::after {
    content: "";
    display: block;
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #105b60;
    height: 100%;
  }
  .col-6:first-child {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__first {
    position: relative;
    z-index: 10;
    color: #fff;
    &-title {
      font-family: Kino;
      font-weight: 400;
      font-size: 30px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;
      margin-bottom: 30px;
    }
    &-subtitle {
      font-family: SF Pro Display;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: start;
      vertical-align: middle;
      margin-bottom: 40px;
    }
    &-description {
      font-family: SF Pro Display;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;
      max-width: 67%;
    }
  }
  &__second {
    &-title {
      font-family: Kino;
      font-weight: 400;
      font-size: 35px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;
      color: #105b60;
      margin-bottom: 8px;
    }
    &-subtitle {
      font-family: Inter;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0%;
      vertical-align: middle;
      color: #3b3d41;
    }
  }
  &__form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    &-back{
      font-family: Inter;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      vertical-align: middle;
      text-decoration: none;
      padding: 15px 20px;
      background-color: #105b60;
      color: #fff;
      border-radius: 50px;
      border: none;
    }
    &-label {
      font-family: "SF Pro Display";
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0%;
      vertical-align: middle;
      margin-bottom: 8px;
    }
    &-forgot {
      font-family: Inter;
      font-weight: 500;
      font-size: 18px;
      line-height: 20px;
      vertical-align: middle;
      color: #105b60;
      margin-bottom: 50px;
    }
    &-row {
      margin-top: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    &-no {
      font-family: Inter;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0%;
      vertical-align: middle;
      color: #105b60;
    }
    &-register {
      font-family: Inter;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 0%;
      vertical-align: middle;
      text-decoration: none;
      padding: 15px 20px;
      background-color: #105b60;
      color: #fff;
      border-radius: 50px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .login {
    .col-6 {
      width: 100%;
    }
    &::after {
      // display: none;
      content: none;
    }
    &__first {
      display: none;
    }
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .login {
    &__second {
      &-title {
        font-family: Kino;
        font-weight: 400;
        font-size: 36px;
        line-height: normal;
        letter-spacing: 0%;
        vertical-align: middle;
      }
      &-subtitle {
        font-size: 15px;
        line-height: normal;
      }
    }
    &__form {
      &-row {
        flex-direction: column;
        div {
          width: 100%;
        }
      }
      &-label {
        line-height: normal;
      }
      &-submit {
        font-size: 20px;
        font-weight: 300;
      }
      &-no {
        margin-bottom: 10px;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding: 0 10px;
    max-width: 100%;
  }
}
