.book {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #105B60;
    padding: 22px 32px;
    border-radius: 15px;
    margin-bottom: 5%;
    margin: 20px auto;

    &_img {}

    &_text {
        display: flex;
        flex-direction: column;
        color: #FFFFFFCC;
        width: 60%;

        h1 {
            font-family: Kino;
            font-weight: 400;
            font-size: 18px;
            margin: 0;
            color: #FFFFFFCC;
        }

        h2 {
            font-family: SF Pro Display;
            font-weight: 500;
            font-size: 18px;
            margin: 20px 0;
        }

        p {
            font-family: SF Pro Display;
            font-weight: 400;
            font-size: 18px;
            width: 100%;
        }
    }

    &_btn {
        display: flex;
        flex-direction: column;
        align-self: flex-end;

        .btn1 {
            width: 140px;
            height: 35px;
            border-radius: 15px;
            border: none;
            border: 1px solid #FFFFFF;
            color: #FFFFFF;
            background-color: #105B60;
        }

        .btn2 {
            width: 140px;
            height: 35px;
            border-radius: 15px;
            border: none;
            border: 1px solid #FFFFFF;
            color: #105B60;
            background-color: #FFFFFF;
            margin: 20px 0;
        }
    }

    
    @media (max-width: 1024px) {
        flex-direction: column;
        padding: 20px;
        
        &_text {
            width: 100%;
        }

        &_btn {
            align-self: center;
            margin-top: 20px;
        }
    }

    @media (max-width: 768px) {
        &_text h1 {
            font-size: 16px;
        }

        &_text h2 {
            font-size: 16px;
        }

        &_text p {
            font-size: 16px;
        }

        .btn1, .btn2 {
            width: 120px;
            height: 30px;
        }
    }

    @media (max-width: 480px) {
        padding: 15px;
        
        &_text {
            width: 100%;
        }

        .btn1, .btn2 {
            width: 100px;
            height: 28px;
        }

        &_text h1 {
            font-size: 14px;
        }

        &_text h2 {
            font-size: 14px;
        }

        &_text p {
            font-size: 14px;
        }
    }
}
