.card-partners {
  max-width: 1320px;
  margin: 0 auto;
  // padding: 20px;
  margin-top: 70px;

  h2 {
    font-family: "Kino", sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: left;
    color: #105b60;
  }
  .row {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    
  }
  .card-partners__image {
    width: 200px;
    height: 100px;
    object-fit: contain;
  }
}
