.profile {
  background: #105b60;
  border-radius: 20px;
  padding: 50px 40px 70px;
  &__header {
    display: flex;
    align-items: center;
    column-gap: 20px;
    &-title {
      font-family: Kino;
      font-weight: 400;
      font-size: 32px;
      line-height: 100%;
      color: #fff;
    }
  }
  &__body {
  }
  &__select {
    width: 80% !important;
    margin: 20px auto !important;
  }
  &__edit {
    justify-content: center;
  }
  &__data {
    margin-top: 40px;
    display: flex;
    align-items: center;
    column-gap: 40px;
    &-image {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      cursor: pointer;
    }
    &-input {
      width: 300px;
      padding: 12px 29px;
      border-radius: 7px;
      border: none;
      outline: none;
    }
    div {
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      width: 455px;
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 20px;
      }
    }
    &-text {
      font-family: Inter;
      font-weight: 600;
      font-size: 28px;
      line-height: 100%;
      color: #fff;
    }
  }
  &__actions {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-btn {
      padding: 25px 0;
      border-radius: 10px;
      width: 47%;
      cursor: pointer;
      text-align: center;
      font-family: Inter;
      font-weight: 600;
      font-size: 28px;
      color: #fff;
      border: none;
    }
    &-blue {
      background: #66ade7;
    }
    &-gray {
      background: #808080;
    }
  }
  &__history {
    margin-top: 60px;
    &-head {
      font-family: Kino;
      font-weight: 400;
      font-size: 28px;
      color: #fff;
      margin-bottom: 30px;
    }
    .cardBook {
      background-color: #fff;
      &_text * {
        color: #105b60;
      }
      &_btn_read {
        background-color: #105b60;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .profile__data-text {
    font-size: 22px;
  }
  .profile__data-image {
    width: 150px;
    height: 150px;
  }
  .profile__actions-btn {
    padding: 14px;
    font-size: 18px;
  }
  .profile__actions {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    padding: 30px 20px 50px;
    &__header-title {
      font-size: 28px;
    }
    &__data {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
      &-image {
        width: 120px;
        height: 120px;
      }
      &-input {
        width: 80%;
        font-size: 12px;
      }
      div {
        width: 100%;
        div {
          justify-content: space-between;
          width: 100%;
        }
      }
    }
    &__actions {
      flex-direction: column;
      row-gap: 20px;
      &-btn {
        width: 100%;
        font-size: 14px;
        padding: 16px;
      }
    }
    &__history-head {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 576px) {
  .profile {
    padding: 50px 40px 50px;
    &__header-title {
      font-size: 22px;
    }
    &__data {
      margin-top: 20px;
      display: block;
      &-text {
        font-size: 12px;
        width: 100%;
      }
      &-input {
        width: 100%;
        margin-top: 1%;
      }
      div div {
        display: block;
      }
    }
    &__actions-btn {
      padding: 10px;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 440px) {
  .profile {
    &__header-title {
      font-size: 16px;
    }
    &__data {
      margin-top: 15px;
      &-text {
        font-size: 11px;
      }
    }
    &__actions {
      display: block;
      &-btn {
        width: 100%;
        margin-top: 6%;
        font-size: 11px;
        padding: 10px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .profile {
    &__data {
      &-text {
        font-size: 20px;
      }
      div div {
        row-gap: 5px;
      }
    }
    &__actions-btn {
      font-size: 18px;
    }
  }
}
