.profile {
  background: #105b60;
  border-radius: 20px;
  padding: 50px 40px 70px;
  &__header {
    display: flex;
    align-items: center;
    column-gap: 20px;
    &-title {
      font-family: Kino;
      font-weight: 400;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;
      color: #fff;
    }
  }
  &__body {
  }
  &__select {
    width: 80% !important;
    display: block;
    margin-top: 20px !important;
    margin: 0 auto;
  }
  &__edit {
    justify-content: center;
  }
  &__data {
    margin-top: 40px;
    display: flex;
    align-items: center;
    column-gap: 40px;
    &-image {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      cursor: pointer;
    }
    &-input {
      width: 300px;
      padding: 12px 29px;
      outline: none;
      border-radius: 7px;
      border: none;
    }
    div {
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      width: 455px;
      div {
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 20px;
        justify-content: space-between;
      }
    }
    &-text {
      font-family: Inter;
      font-weight: 600;
      font-size: 28px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;
      color: #fff;
    }
  }
  &__actions {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // column-gap: 60px;
    &-btn {
      padding: 25px 0;
      border-radius: 10px;
      width: 47%;
      cursor: pointer;
      text-align: center;
      font-family: Inter;
      font-weight: 600;
      font-size: 28px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;
      color: #fff;
      border: none;
      // background: #105b;
    }
    &-blue {
      background: #66ade7;
    }
    &-gray {
      background: #808080;
    }
  }
  &__history {
    margin-top: 60px;
    &-head {
      font-family: Kino;
      font-weight: 400;
      font-size: 28px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;
      color: #fff;
      margin-bottom: 30px;
    }
    .cardBook {
      background-color: #fff;
      &_text * {
        // &_name {
        color: #105b60;
        // }
      }
      &_btn_read {
        background-color: #105b60;
        color: #fff;
      }
    }
  }
}
.profile__none {
  display: none;
}

.backDrop {
  height: 100%;
  width: 100%;
  background: #2f2e2e81;
  position: fixed;
  left: 0;
  top: 0;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .profile {
    &__header {
      justify-content: center;
      &-title {
        font-size: 22px;
      }
    }
    &__data {
      display: flex;
      flex-direction: column;
      &-text {
        font-size: 24px;
        word-wrap: break-word;
      }
      &-image {
        width: 250px;
        height: 250px;
      }
      div {
        width: 100%;
        div {
          flex-direction: column;
          // justify-content: start;
          align-items: start;
        }
      }
      &-input {
        width: 100% !important;
      }
    }
    &__none {
      display: block;
      margin-top: 20px;
    }
    &__actions {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: start;
      row-gap: 20px;
      &-btn {
        font-size: 20px;
        width: 100%;
      }
    }

    // &__body {
    //   display: flex;
    //   flex-direction: column;
    // }
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding: 0 10px;
    max-width: 100%;
  }
  .profile__data-image {
    width: 160px;
    height: 160px;
  }
}
