title {
    text-align: center;
}

.services_block {

    background-color: #105B60;
    margin-top: -13px;
    display: flex;
    border-radius: 0 0 12px 12px;



}

.img {
    border-radius: none;
}

title {
    text-align: center;
}


.servicestext {


    margin-top: 100px;
    color: #105B60;
    font-size: clamp(30px, 2.8vw, 60px);
}